body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgba(255, 235, 205, 0.63);
}

main {
    display: flex;
    flex-flow: column nowrap;
  }


#color-palette {
    list-style: none;
    display: flex;/*Para alinhar os blocos*/
    margin: auto;
    padding-right: 14px ;
    width: 210px;
    border: 5px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
#pixel-board {
    list-style: none;
    margin: auto;
    padding: 0;
    border: 4px solid black;
    border-radius: 5px;
}

#vqvB{ /*É a div que se encontra o input e o botão vqv*/
    border-radius: 0 2px 2px 0;
    border: 2px solid black;
    width: 140.4px;
    padding: 0;
    margin: auto;
}

#generate-board {
    font-family: sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background-color: #2bb779;
    color: white;
}

#board-size{
    width: 100px;
    height: 13px;
}
#BotaoAqui {/*é a div que se encontra o botão de limpar tudo*/
    border-radius: 0 2px 2px 0;
    border: 2px;
    width: 10;
    margin: auto;
}
#clear-board{
    font-family: sans-serif;
    font-weight: 600;
    margin: auto;
    padding: 0;
    background-color: #2bb779;
    color: white;
}

#title {
    margin: auto;
}

.espaco{ /*Esse espaço serve para separar os botões*/
    padding: 2px;
}


.color {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    margin: 2px;
}

.linha{
    display: flex; /*Tive que por essa classe para que o tamanho do board seja de 5 elementos..Antes o flex estava no próprio board class*/
}

.pixel{
    width: 25px;
    height: 25px;
    background-color: white;
    border: 2px solid black;
}

  

  